/* Breakpoint sizes */
$screen-xs-min: 320px; // iPhone SE
$screen-sm-min: 375px; // iPhone X
$screen-md-min: 768px; // iPad
$screen-lg-min: 1280px; // Desktop

@mixin breakpoint($media) {
	@if $media == xs {
		@media only screen and (min-width: $screen-xs-min) { @content; }
	}
	@else if $media == sm {
		@media only screen and (min-width: $screen-sm-min) { @content; }
	}
	@else if $media == md {
		@media only screen and (min-width: $screen-md-min) { @content; }
	}
	@else if $media == lg {
		@media only screen and (min-width: $screen-lg-min) { @content; }
	}
}
